/* directive in-drop-area*/
.in-drop-area {
  height: 300px;
  width: 300px;
  box-sizing: border-box;
  border: 5px solid skyblue;
  margin: 30px auto;
  line-height: 300px;
  text-align: center;
}

.in-drop-area--hover {
  border-color: green;
}

/* directive: in-record */
.in-record {
  font-size: 12px;
}

  .in-record .thumbnail {
    height: 40px;
    width: 40px;
  }

  .in-record .thumbnail-wrap {
    float: left;
  }

.in-record-odd {
  background: skyblue;
  color: whitesmoke;
}



/* utils */
.clearfix {
  overflow: auto;
}