/* page layout */
html, body {
  height: 100%;
}
.inner-wrap {
  padding-top: 50px;
  height: 100%;
}

/* directive in-container */
.in-container {
  padding-top: 54px;
  width: 800px !important;
}

/* directive in-drop-area*/
.in-drop-area {
  height: 300px;
  width: 300px;
  box-sizing: border-box;
  border: 5px solid skyblue;
  margin: 30px auto;
  line-height: 300px;
  text-align: center;
}

.in-drop-area--hover {
  border-color: green;
}

/* directive: in-record */
.in-record {
  font-size: 12px;
}

  .in-record .thumbnail {
    height: 40px;
    width: 40px;
  }

  .in-record .thumbnail-wrap {
    float: left;
  }

.in-record-odd {
  background: skyblue;
  color: whitesmoke;
}

/* directive: in-pending-file */
.in-pending-file {
  overflow: hidden;
  float: left;
}
  .in-pending-file .image-wrap {
    height: 80px;
    width: 80px;
    border-radius: 10px;
    margin: 0 10px 10px 10px;
    overflow: hidden;
  }

  .in-pending-file img {
    width: 100%;
    height: 100%;
  }


/* utils */
.clearfix {
  overflow: auto;
}

